html {
    scroll-behavior: smooth;
}

body {
    background-color: tomato;
}

h1 {
    color: blue;
    background-color: pink;
    text-align: center;
    font-size: xx-large;

}

h2 {
    color: blue;
    background-color: pink;
    text-align: center;
    margin-top: 50px;
    font-size: xx-large;
}

h3 {
    color: blue;
    background-color: pink;
    text-align: center;
    font-size: xx-large;

}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    background-color: pink;
    font-size: large;

}

ol {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: blue;
    background-color: pink;
    font-size: large
}

.homepage {
    background-color: rgb(2, 158, 255);
    color:white;
    border: none;
    width: 85px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    display: inline-block;

}

.homepage:hover {
    color: black;
}

.wisdom {
    text-align: justify;
    text-align: center;

}