html {
    scroll-behavior: smooth;
}

body {
    background-color: #ffd8b1;
}

h1 {
    color: black;
    background-color: #ffaf602f;
    border-style: dashed;
    text-align: center;
    font-size: xx-large;

}

h2 {
    color: black;
    background-color: #ffaf602f;
    border-style: dashed;
    text-align: center;
    margin-top: 50px;
    font-size: xx-large;
}

h3 {
    color: black;
    background-color: #ffaf602f;
    border-style: dashed;
    text-align: center;
    font-size: xx-large;

}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: #ffaf602f;
    border-style: dashed;
    font-size: large;

}

ol {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
    background-color: #ffaf602f;
    border-style: dashed;
    font-size: large
}

.homepage {
    background-color: #ff8000;
    color: white;
    border: none;
    width: 110px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    display: inline-block;

}

a:hover {
    color: black;
}

.wisdom {
    text-align: justify;
    text-align: center;

}