html {
    scroll-behavior: smooth;
}

body {
    background-color: tomato;
}

h1 {
    color: rgb(0, 0, 105);
    background-color: pink;
    text-align: center;

}
.smtthatdeserveschanges{
    
}
h2 {
    color: rgb(0, 0, 105);
    background-color: pink;
    text-align: center;
    margin-top: 50px;
}

h3 {
    color: rgb(0, 0, 105);
    background-color: pink;
    text-align: center;

}

p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 105);
    background-color: pink;

}

ol {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(0, 0, 105);
    background-color: pink;
}

.homepage {
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    background-color: rgb(2, 158, 255);
    border: none;
    height: 30px;
    width: 250px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 15px;
    text-align: center;
    margin-bottom: 55px;
    margin-left: 110px;
}

.homepage:hover {
    border-radius: 0%;
}

.wisdom {
    text-align: justify;
    text-align: center;

}