body {
    background-color: #ffd8b1;
}

h1 {
    color: black;
    font-family: 'Lato', serif;
    background-color: #ffaf602f;
    border-style: dashed;
}

p {
    color: black;
    background-color: pink;
    font-family: 'Times New Roman', Times, serif;
    font-size: 175%;
    background-color: #ffaf602f;
    border-style: dashed;
}

h4 {
    color: black;
    background-color: pink;
    font-family: 'Lato', serif;
    background-color: #ffaf602f;
    border-style: dashed;
}


a:hover {
    color: black;
}

.nextpagebutton {
    background-color: #ff8000;
    color: white;
    border: none;
    width: 110px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 20px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
  }
  

