body {
    background-color: tomato;
}

h1 {
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: aliceblue;
}

p {
    color: blue;
    background-color: pink;
    font-family: 'Times New Roman', Times, serif;
    font-size: large;
}

h4 {
    color: red;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background-color: aliceblue;

}

#contactseerah {
    color: red;
    background-color: aliceblue;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 10s;
}

@keyframes pulse {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

.pulse2 {
    animation: pulse 10s;
}

.HOMEPAGE {
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    background-color: rgb(2, 158, 255);
    border: none;
    height: 30px;
    width: 180px;
    border-radius: 15px;
    cursor: pointer;
    margin-bottom: 15px;
}

.quiz {
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    background-color: rgb(2, 158, 255);
    border: none;
    height: 30px;
    width: 65px;
    border-radius: 15px;
    cursor: pointer;
    text-align: justify;
}

.contact {
    color: blue;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: x-large;
    background-color: rgb(2, 158, 255);
    border: none;
    height: 30px;
    width: 150px;
    border-radius: 15px;
    cursor: pointer;
    margin-top: 20px;
}

a:hover {
    color: maroon;
}

.nextpagebutton {
    background-color: rgb(2, 158, 255);
    color: white;
    border: none;
    width: 74px;
    border-radius: 15px;
    font-weight: bold;
    font-size: 15px;
    padding: 10px;
    margin: 10px;
    text-decoration: none;
    display: inline-block;
}

.nextpagebutton:hover {
    background-color: blue;
}