.container{
  flex-direction: row;
}

@media (max-width: 600px) { 
  .container {
    flex-direction: column;
  }
}

.featured-jobs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: xx-large;
}

.featured-lesson1 {
  width: 115px;
  padding: 10pt;
  margin: 20px;
  border: 1px solid #ccc;
  margin-right: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-color: black;
  font-size:x-large ;
}

.featured-lesson2 {
  width: 115px;
  padding: 10pt;
  margin: 20px;
  border: 1px solid #ccc;
  margin-left: 55%;
  margin-bottom: 2px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-color: black;
  position: relative;
  top: -83px;
  font-size:x-large ;
}

.featured-lesson3 {
  width: 125px;
  padding: 10pt;
  margin: 20px;
  border: 1px solid #ccc;
  margin-right: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-color: black;
  font-size:x-large ;
}

.featured-lesson4 {
  width: 500px;
  width: 125px;
  padding: 10pt;
  margin: 20px;
  border: 1px solid #ccc;
  margin-left: 55%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-color: black;
  position: relative;
  top: -78px;
  margin-top: -4%;
  font-size:x-large ;
}

.featured-lesson5 {
  width: 125px;
  padding: 10pt;
  margin: 20px;
  border: 1px solid #ccc;
  margin-right: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-color: black;
  font-size:x-large ;
}

.featured-lesson6 {
  width: 125px;
  padding: 10pt;
  margin: 20px;
  border: 1px solid #ccc;
  margin-left: 55%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-color: black;
  position: relative;
  top: -98px;
  margin-top: -4%;
  font-size:x-large ;
}

.featured-lesson7 {
  width: 125px;
  padding: 15pt;
  margin: 20px;
  border: 1px solid #ccc;
  margin-right: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-color: black;
  font-size:x-large ;

}

.featured-lesson8 {
  width: 125px;
  padding: 10pt;
  margin: 20px;
  border: 1px solid #ccc;
  margin-left: 55%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-color: black;
  position: relative;
  top: -70px;
  font-size:x-large ;
}
.all-featuredlessons{
  font-size: x-large;
  width: 60%;
  margin: 0%;
}
.header {
  font-size: 2em;
  /* sets the font size to 2 times the parent element's font size */
  font-weight: bold;
  /* sets the font weight to bold */
}

.introduction {
  font-size: 130%;
  border-style: dashed;
  border-color: tomato;
}

.introduction2 {
  font-size: 130%;

}

body {
  background-color: tomato;
  font-family: 'Lato', serif;
}

.imageofka3ba {
  width: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
  color: blue;
  font-family: 'Lato', serif;
}

.islamic-info {
  background-color: pink;
}

#islamic-pillars {
  background-color: pink;
  font-weight: 900;
}

#islamic-iman {
  background-color: pink;
  font-family: 'Lato', serif;
  font-weight: 900;
  scroll-behavior: smooth;
}

html {
  scroll-behavior: smooth;
}

h1 {
  background-color: red;
  font-family: 'Lato', serif;
  font-weight: 900;

}

.quranrec {
  background-color: pink;
  font: bold;
}

p {
  color: blue;
  background-color: pink;

  font-family: 'Lato', serif;
}

.bigqu2 {
  font-size: 18px;
  background-color: yellow;

  font-family: 'Lato', serif;
}

.bigqu1 {
  font-size: 18px;
  background-color: yellow;

  font-family: 'Lato', serif;
}

#list {
  color: rgb(83, 66, 156);
  background-color: pink;
  font-family: 'Lato', serif;
  font-weight: 155;

}

.surahname {
  color: rgb(4, 48, 49);
  background-color: rgb(209, 160, 255);
  text-align: center;

}


#islamic-pillar {
  color: indigo;
  background-color: pink;
  font-family: 'Lato', serif;
  scroll-behavior: smooth;


}

.pillar-iman {
  color: indigo;
  background-color: pink;
  font-family: 'Lato', serif;

}

.islamic-info1 {
  color: red;
  background-color: yellow;
  font-style: italic;

  font-family: 'Lato', serif;
}

.audiotest {
  color: red;
  background-color: yellow;

}

.islampillar {
  color: indigo;
  background-color: pink;
  font-family: 'Lato', serif;
  margin-left: 150px;
  margin-right: 150px;
}

#makkah {
  width: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ka3baa {
  color: red;
  background-color: yellow;

  font-family: 'Lato', serif;

}

#thisisquran {
  background-color: pink;

  font-family: 'Lato', serif;
}

h3 {
  color: blue;
  background-color: pink;

  font-family: 'Lato', serif;
}

h2 {
  color: blue;
  background-color: pink;

  font-family: 'Lato', serif;
}

form {

  color: blue;
  background-color: pink;
  font-family: 'Lato', serif;
}

.contact {
  color: blue;
  margin-left: 150px;
  font-family: 'Lato', serif;
  font-size: xx-large;
}

.seerah {
  color: blue;
  margin-right: 150px;
  font-family: 'Lato', serif;
  font-size: xx-large;

}

.translate {
  color: blue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: x-large;
  background-color: rgb(2, 158, 255);
  border: none;
  height: 30px;
  width: 200px;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 15px;
  text-align: center;
}

.translate:hover {
  color: white;
  background-color: rgb(83, 66, 156);
  border-radius: 0%;
}

a {
  border-radius: 5px;
}

a:hover {
  color: black;
  border-radius: 0%;
}

.nextpagebutton {
  background-color: rgb(2, 158, 255);
  color: white;
  border: none;
  width: 74px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
}

.nextpagebutton:hover {
  background-color: blue;
  border-radius: 0%;
}

.seerah {
  color: blue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: x-large;
  background-color: rgb(2, 158, 255);
  border: none;
  height: 30px;
  width: 135px;
  border-radius: 15px;
  cursor: pointer;
  margin-bottom: 15px;
  text-align: justify;
  margin-left: 250px;

}

.seerah:hover {
  color: maroon;
  border-radius: 0%;
}

.fiqh {
  color: blue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: x-large;
  background-color: rgb(2, 158, 255);
  border: none;
  height: 30px;
  width: 100px;
  border-radius: 15px;
  cursor: pointer;
  text-align: justify;

}

.fiqh:hover {
  border-radius: 0%;
}

.quiz {
  color: blue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: x-large;
  background-color: rgb(2, 158, 255);
  border: none;
  height: 30px;
  width: 65px;
  border-radius: 15px;
  cursor: pointer;
  text-align: justify;

}

.quiz:hover {
  color: black;
  border-radius: 0%;

}

.contact {
  color: blue;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: x-large;
  background-color: rgb(2, 158, 255);
  border: none;
  height: 30px;
  width: 170px;
  border-radius: 15px;
  cursor: pointer;
  margin-top: 20px;
  text-align: justify;
}

.contact:hover {
  color: red;
  border-radius: 0%;
}