.container {
  flex-direction: row;
}

@media (max-width: 600px) {
  .container {
    flex-direction: column;
  }
}

.featured-jobs {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  font-size: xx-large;
}

.featured-lesson1 {
  width: 115px;
  padding: 10pt;
  margin: 20px;
  border: 1px solid #ccc;
  margin-right: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-color: black;
  font-size: x-large;
}

.featured-lesson2 {
  width: 115px;
  padding: 10pt;
  margin: 20px;
  border: 1px solid #ccc;
  margin-left: 55%;
  margin-bottom: 2px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-color: black;
  position: relative;
  top: -83px;
  font-size: x-large;
}

.featured-lesson3 {
  width: 125px;
  padding: 10pt;
  margin: 20px;
  border: 1px solid #ccc;
  margin-right: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-color: black;
  font-size: x-large;
}

.featured-lesson4 {
  width: 500px;
  width: 125px;
  padding: 10pt;
  margin: 20px;
  border: 1px solid #ccc;
  margin-left: 55%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-color: black;
  position: relative;
  top: -78px;
  margin-top: -4%;
  font-size: x-large;
}

.featured-lesson5 {
  width: 125px;
  padding: 10pt;
  margin: 20px;
  border: 1px solid #ccc;
  margin-right: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-color: black;
  font-size: x-large;
}

.featured-lesson6 {
  width: 125px;
  padding: 10pt;
  margin: 20px;
  border: 1px solid #ccc;
  margin-left: 55%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-color: black;
  position: relative;
  top: -98px;
  margin-top: -4%;
  font-size: x-large;
}

.featured-lesson7 {
  width: 125px;
  padding: 15pt;
  margin: 20px;
  border: 1px solid #ccc;
  margin-right: 100%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-color: black;
  font-size: x-large;

}

.featured-lesson8 {
  width: 125px;
  padding: 10pt;
  margin: 20px;
  border: 1px solid #ccc;
  margin-left: 55%;
  border-radius: 5px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  border-color: black;
  position: relative;
  top: -70px;
  font-size: x-large;
}

.all-featuredlessons {
  font-size: x-large;
  width: 60%;
  margin: 0%;
}

.header {
  font-size: 2em;
  /* sets the font size to 2 times the parent element's font size */
  font-weight: bold;
  /* sets the font weight to bold */
}

.introduction {
  font-size: 130%;
  border-style: dashed;
}

.introduction2 {
  font-size: 130%;

}

body {
  background-color: #ffd8b1;
  font-family: 'Lato', serif;
}

h1 {
  color: black;
  font-family: 'Lato', serif;
}

html {
  scroll-behavior: smooth;
}

h1 {
  background-color: red;
  font-family: 'Lato', serif;
  font-weight: 900;

}

p {
  color: black;

  font-family: 'Lato', serif;
}



a {
  border-radius: 5px;
}

a:hover {
  color: black;
  border-radius: 0%;
}

.nextpagebutton {
  background-color: rgb(2, 158, 255);
  color: white;
  border: none;
  width: 74px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
}

.nextpagebutton:hover {
  background-color: blue;
  border-radius: 0%;
}


/* CSS for styling the search bar */
#searchInput {

  /* Adjust width as needed */
  padding: 10px;
  font-size: 16px;
  font-family: sans-serif;
  /* Remove border radius */
  border: none;
  /* Add border for clarity */
}

button[type="submit"] {
  background-color: #ff8000;
  color: black;
  border: none;
  width: 110px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 20px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
}

button[type="submit"]:hover {

  color: white;
  cursor: pointer;
}

#searchForm {
  display: flex;
  justify-content: center;
  align-items: center;

}

#searchInput {
  width: 400px;
  /* Adjust width as needed */
  
  font-size: 16px;
  border-radius: 30px;

}