body {
  background-color: tomato;
  font-family: 'Lato', serif;
}

h1 {
  color: blue;
  font-family: 'Lato', serif;
}

.islamic-info {
  background-color: pink;
}

#islamic-pillars {
  background-color: pink;  
  font-weight: 900;
}

#islamic-iman {
  background-color: pink;
  font-family: 'Lato', serif;
  font-weight: 900;
}

h1 {
  background-color: pink;
  font-family: 'Lato', serif;
  font-weight: 900;

}

.quranrec {
  background-color: pink;
  font: bold;
}

p {
  color: blue;
  background-color: pink;

  font-family: 'Lato', serif;
}

.bigqu2 {
  font-size: 18px;
  background-color: yellow;

  font-family: 'Lato', serif;
}

.bigqu1 {
  font-size: 18px;
  background-color: yellow;

  font-family: 'Lato', serif;
}

#list {
  color: rgb(83, 66, 156);
  background-color: pink;
  font-family: 'Lato', serif;
  font-weight: 155;

}

.surahname {
  color: rgb(4, 48, 49);
  background-color: rgb(209, 160, 255);
  text-align: center;

}


#islamic-pillar {
  color: indigo;
  background-color: pink;
  font-family: 'Lato', serif;

}

.pillar-iman {
  color: indigo;
  background-color: pink;
  font-family: 'Lato', serif;

}

.islamic-info1 {
  color: red;
  background-color: yellow;
  font-style: italic;

  font-family: 'Lato', serif;
}

.audiotest {
  color: red;
  background-color: yellow;

}

.islampillar {
  color: indigo;
  background-color: pink;
  font-family: 'Lato', serif;
  margin-left: 150px;
  margin-right: 150px;
}

#makkah {
  width: 45%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.ka3baa {
  color: red;
  background-color: yellow;

  font-family: 'Lato', serif;

}

#thisisquran {
  background-color: pink;

  font-family: 'Lato', serif;
}

h3 {
  color: blue;
  background-color: pink;

  font-family: 'Lato', serif;
}

h2 {
  color: blue;
  background-color: pink;

  font-family: 'Lato', serif;
}

form {

  color: blue;
  background-color: pink;
  font-family: 'Lato', serif;
}

.quiz {
  color: blue;
  margin-right: 150px;
  font-family: 'Lato', serif;
  font-size: xx-large;
}

.contact {
  color: blue;
  margin-left: 150px;
  font-family: 'Lato', serif;
  font-size: xx-large;
}

.seerah {
  color: blue;
  margin-right: 150px;
  font-family: 'Lato', serif;
  font-size: xx-large;

}

@keyframes slideIn {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

.slide-in {
  animation: slideIn 3s ease-out;
  height: 200px;
  width: 200px;
  background-size: cover;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.pulse {
  animation: pulse 10s;
}

@keyframes wobble {
  0% {
    transform: translateX(0%);
  }

  15% {
    transform: translateX(-30%) rotate(-5deg);
  }

  30% {
    transform: translateX(25%) rotate(3deg);
  }

  45% {
    transform: translateX(-20%) rotate(-3deg);
  }

  60% {
    transform: translateX(15%) rotate(2deg);
  }

  75% {
    transform: translateX(-10%) rotate(-1deg);
  }

  100% {
    transform: translateX(0%);
  }
}

.wobble {
  animation: wobble 5s;
}

a {
  color: red;
  background-color: white;
}

a:hover{
  color: rgb(2, 158, 255);
}

.nextpagebutton {
  background-color: rgb(2, 158, 255);
  color: white;
  border: none;
  width: 74px;
  border-radius: 15px;
  font-weight: bold;
  font-size: 15px;
  padding: 10px;
  margin: 10px;
  text-decoration: none;
  display: inline-block;
}

.nextpagebutton:hover {
  background-color: blue;
}
